body {
	background: #324376;
	}
	* {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	color: white;
	font-weight: 600;
	}
	
	
	button {
	padding: 0 8px;
	margin: 0 4px;
	border-radius: 8px;
	color: white;
	background-color: #f68e5f;
	}
	table
	{
		margin-top: 10px;
	  font-family:Arial,sans-serif;
	  font-size:16px;
	  border-collapse:collapse;
	  table-layout:fixed;
	  width: 80%;
	  
	}
	td, th
{
  border:1px solid white;
  height: 12px;
}
th
{
  background-color:#27c647;
  color:white;
}

.project-container {
	display: flex;
	width: 700px;
	height: 500px;
	background-color: #1d2245;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	position: relative;
    margin-top: 20px;
}